hr {
margin-top: 35; 
margin-bottom: 25;
}
li {
color: blue;
}
code {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoraction: underline;
}
div.caption {
  width: 50%;
  font-sty;e: italic;
}
div.most_important {
  background-color: light grey;
  height: 100px;
  width: 200px;
}
